#desc {
    font-size: 1rem;
}

.proj-btn {
    width: 10rem !important;
    height: 2.5rem !important;
    font-size: 1.1rem !important;
    margin-top: 1rem !important;
    margin-bottom: 0 !important;
}

.proj-btn:hover {
    color: white !important;
    transform: translateY(-0.05em);
}

.badge {
    margin: 1rem 0 1rem 2rem;
    height: 1.7rem;
    width: 5.5rem;
    font-size: 0.9rem !important;
}

.badge:hover {
    background-color: #ffc533 !important;
    color: black;
}

@media screen and (max-width: 1024px) {
    #proj-desc {
        padding-top: 0 !important;
    }
}
